@model Lagerverwaltung.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h3 class="display-3">Willkommen</h3>
    <h5 class="display-4">@System.DateTime.Now</h5>
    
    <img class="img-fluid" src="~/Bilder/banner.png" width="400" id="bild" />

</div>
@section Scripts {
    <script>
        var i = 0;
        $(document).ready(function () {
            $("#bild").click(function () {
                i = i + 1;
                if (i >= 5) {
                    $("#bild").attr('src', '/Bilder/Logo.jpg');
                }
                
            });
        });

    </script>
}