@model Lagerverwaltung.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h3 class="display-3">Willkommen</h3>
    <h5 class="display-4">Im Lager sind @Model.AnzahlWare Waren</h5>
    
    <div class="progress m-5">
        <div class="progress-bar" role="progressbar" style="width: @Model.Auslastung%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@Model.Auslastung% Auslastung</div>
    </div>
    <img class="img-fluid" src="~/Bilder/banner.png" width="400" id="bild" />

</div>
@section Scripts {
    <script>
        var i = 0;
        $(document).ready(function () {
            $("#bild").click(function () {
                i = i + 1;
                if (i >= 5) {
                    $("#bild").attr('src', '/Bilder/Logo.jpg');
                }
                
            });
        });

    </script>
}