@model Lagerverwaltung.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h3 class="display-3">Willkommen</h3>
    <div class="display-4 " id="uhr"></div>
    
    <img class="img-fluid" src="~/Bilder/banner.png" width="400" id="bild" />

</div>
@section Scripts {
    <script>
        var i = 0;
        $(document).ready(function () {
            $("#bild").click(function () {
                i = i + 1;
                if (i >= 5) {
                    $("#bild").attr('src', '/Bilder/Logo.jpg');
                }
                
            });
            uhrzeit();
        });

        function uhrzeit() {
            var jetzt = new Date();
                h = jetzt.getHours();
                m = jetzt.getMinutes();
                s = jetzt.getSeconds();
            document.getElementById('uhr').innerHTML = h + ':' + m + ':' + s;
            setTimeout("uhrzeit();", 500);
        }


    </script>
}

