@using System.Reflection
@{
    
    ViewData["Title"] = "SSG Lagerverwaltung 1.0 Alpha";
}
<h1>@ViewData["Title"]</h1>

<h3>Source Code:</h3>
<a href="https://github.com/king1803/Lagerverwaltung">Github SSG Lagerverwaltung</a>


